.main {
  width: 160px;
  background: #fff;
  box-shadow: 0px 4px 13px rgba(142, 140, 140, 0.25);
  border-radius: 9px;
  margin: 16px;
  position: relative;
  cursor: pointer;
  .poster {
    width: inherit;
    height: auto;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }
}
