.main {
  .list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .pagination {
    margin: 24px 0px;
    display: flex;
    justify-content: center;
    @media only screen and (min-width: 768px) {
      justify-content: center;
      margin-left: -10vw;
    }
  }

  .list::-webkit-scrollbar {
    display: none;
  }
}

.pagination {
  // margin-top: 44px;
  display: flex;
  justify-content: center;
  @media only screen and (min-width: 768px) {
    justify-content: center;
  }
}
