.main {
  .list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 300px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .list::-webkit-scrollbar {
    display: none;
  }
}
