.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
  .poster {
    width: 180px;
  }
  .details {
    margin-top: 16px;
    @media only screen and (min-width: 768px) {
      position: absolute;
      bottom: 4px;
      left: 190px;
      .movie_title {
        width: 200px;
      }
    }
    .movie_title {
      margin-bottom: 4px;
      font-weight: 600;
      font-size: 18px;
    }
    .rating {
      align-items: center;
      .rating_value {
        position: absolute;
        bottom: 48px;
        margin-left: 4px;
        font-size: 14px;
      }
    }
    .language {
      margin-top: 4px;
    }
    .year {
      margin-top: 4px;
    }
  }
}
