.main {
  @media only screen and (max-width: 768px) {
    margin-top: 60px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    -ms-overflow-style: none;
    @media only screen and (min-width: 768px) {
      margin-right: 15vw;
    }
    scrollbar-width: none;
  }
  .pagination {
    margin: 24px 0px;
    display: flex;
    justify-content: center;
    @media only screen and (min-width: 768px) {
      justify-content: center;
      margin-left: -10vw;
    }
  }

  .list::-webkit-scrollbar {
    display: none;
  }
}
