.main {
  @media only screen and (min-width: 768px) {
    width: 420px;
  }
  width: 88vw;
  height: 220px;
  background: #fff;
  box-shadow: 0px 4px 13px rgba(142, 140, 140, 0.25);
  border-radius: 9px;
  margin: 16px;
  position: relative;
  cursor: pointer;
  .poster {
    width: inherit;
    height: 100%;
    border-radius: 9px;
  }
  .movie_details {
    width: inherit;
    border-radius: 9px;
    .rating {
      position: absolute;
      @media only screen and (min-width: 768px) {
        top: 8px;
      }
      bottom: 180px;
      left: 16px;
    }
    .rating_value {
      position: absolute;
      color: #fff;
      @media only screen and (min-width: 768px) {
        top: 8px;
      }
      bottom: 183px;
      left: 120px;
    }
    .movie_title {
      position: absolute;
      color: yellow;
      bottom: 16px;
      left: 16px;
      text-align: left;
    }
  }
}
